@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

/* h1 {
  background: -webkit-linear-gradient(#e2b0ff, #9f44d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
